/* Стилизация кнопки */
.button {
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    border-radius: 10px;
    border-width: 1px;
    background-color: var(--black);
    padding: 7px 35px;
    margin-right: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16pt;
    line-height: 18.75px;
}

.button__primary {
    background-color: var(--blue-1);
    border-color: var(--blue-1);
    color: var(--white);
}

.button__primary:disabled {
    cursor: default;
    opacity: 50%;
}

.button__primary:hover:enabled {
    background-color: var(--blue-2);
    border-color: var(--blue-2);
    cursor: pointer;
}

.button__secondary {
    background-color: var(--violet-1);
    border-color: var(--violet-1);
    color: var(--white);
}

.button__secondary:disabled {
    cursor: default;
    opacity: 50%;
}

.button__secondary:hover:enabled {
    background-color: var(--violet-2);
    border-color: var(--violet-2);
    cursor: pointer;
}

.button__alternate {
    background-color: var(--white);
    border-color: var(--grey-3);
    color: var(--grey-4);
}

.button__alternate:disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.button__alternate:hover:enabled {
    background-color: var(--white);
    border-color: var(--black);
    cursor: pointer;
}