/* Стилизация кнопки */
.button {
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 35px 14px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 18.75px;
}

.button:disabled {
    pointer-events: none;
    opacity: 50%;
}

.button + .button {
    margin-left: 10px;
}

.button_primary {
    background-color: var(--blue-1);
    color: var(--white);
}

.button_primary:hover:enabled {
    background-color: var(--blue-2);
    cursor: pointer;
}

.button_secondary {
    background-color: var(--violet-1);
    color: var(--white);
}

.button_secondary:hover:enabled {
    background-color: var(--violet-2);
    cursor: pointer;
}

.button_alternate {
    background-color: var(--white);
    border-color: var(--grey-3);
    color: var(--grey-4);
}

.button_alternate:hover:enabled {
    background-color: var(--white);
    border-color: var(--black);
    cursor: pointer;
}